# JWT
JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
# MySQL
MYSQL_USER=auth_poc
MYSQL_PASSWORD=auth_poc_pass
MYSQL_ROOT_PASSWORD=root_pass
MYSQL_DATABASE=auth_poc
# SPLUNK
SPLUNK_URL=http://localhost:8088/
SPLUNK_PASSWORD=auth_poc_pass
SPLUNK_TOKEN=splunk_token
# GITHUB
GITHUB_ACTOR=github
GITHUB_TOKEN=github_token
MYSQL_ROOT_HOST=%